.mapbox_container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    padding: 25px;
}
  
.map {
    height: 450px;
    width: 700px;
    border-radius: 25px;
    margin-right: 25px;
}

.arena {
    width: 300px;
    height: 450px;
    border-radius: 25px;
}
